* {
  box-sizing: border-box;
}

body {
  margin: 3rem;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 0;
  line-height: 4.5rem;
  }

h1 a:link {
  text-decoration: none;
  color:darkblue;
  transition-property: font-size;
  transition-duration: 1.5s;
  transition-delay: 0s;
}

h1 a:hover {
  color: darkblue;
  font-size: 4.5rem;
  -webkit-text-fill-color: lightblue;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: darkblue;
}

h1 a:visited {
  text-decoration: none;
  color: darkblue;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

h2 a:link {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1.2em;
  border-bottom: .2em;
  padding-bottom: .2em;
  text-decoration: none;
}

h2 a:visited {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

nav {
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.main-nav {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.main-nav li {
  margin: 0.5rem;
}

nav a:link {
  color: darkblue;
  padding-bottom: .25em;
  text-decoration: none;
}

nav a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1.2em;
  border-bottom: .3em;
  padding-bottom: .3em;
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
  color: darkblue;
}

.icons {
  font-size: 1.5rem;
}

footer p {
  font-family: 'Roboto', sans-serif;
  line-height:3rem;
}

img {
  max-height:35%;
  max-width:35%;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0s;
}

img:hover {
  opacity: 0.6;
}



/* Form Styles */

form {
  font-family: 'Roboto', sans-serif;
}

button, input, select, textarea {
  box-sizing: border-box;
  display: block;
  margin: 0.5rem;
}

input[type=submit] {
  background-color: darkblue;
  color: white;
  width: 15em;
  height: 2em;
  margin-top: 2rem;
}

input {
  border-radius: 15px;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

fieldset legend {
  margin-left: -0.7rem;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightblue;
}

.checkbox label:hover input ~ .checkmark {
  background-color: darkblue;
}

.checkbox input:checked ~ .checkmark {
  background-color: darkblue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
